.grey__blocks{
  background-color: $bg-secund;
  padding: 5px;
  margin-top: 10px;
  .info__block{
    padding: 13px 20px 13px 20px;
  }
  .people__box{
    grid-column: 1/13;
    display: flex;
    align-items: center;
    img{
      max-width: 50px;
      height: auto;
    }
    .people__name{
      margin-left: 15px;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
  .sucription__box{
    grid-column: 1/10;
    display: flex;
    img{
      max-width: 50px;
      height: auto;
    }
    .poligon__data{
      margin-left: 15px;
      display: flex;
     justify-content: center;
      flex-direction: column;
      .poligon__title{
        font-size: 1.4rem;
        color: $base-color;
        margin-bottom: 4px;
      }
      .poligon__detail{
        color: #b0adb1;
        font-size: 1.2rem;
        span{
          color: #7d787f;
        }
      }
    }
  }
  .btn__item-box{
    grid-column: 11/13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn__item{
      max-width: 150px;
      background-color: $base-color;
      color: #ffffff;
      border: none;
      border-radius: 7px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: hover 1s;
      width: 26px;
      height: 26px;
      &:hover{
        background-color: lighten($base-color, 20)
      }
      .chevron{
        margin-left: 5px;
        margin-right: 5px;
        width: 10px;
        height: auto;
        transition: all 0.3s;
      }
      .arrow_up{
        transform: rotate(180deg);
      }
      .btn__item-text{
        display: none;
      }
    }
  }
  @media screen and (min-width: 1200px){
    .people__box{
      grid-column: 1/4;
    }
    .sucription__box{
      grid-column: 4/10;
    }
    .btn__item-box{
      .btn__item{
        height: 40px;
        width: 146px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn__item-text{
          font-size: 1rem;
          display: block;
          margin-right: 4px;
        }
      }
    }
    .button__box{
      display: flex;
      justify-content: flex-end;
      grid-column: 10/13;
    }
    .contain{
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}