.grey__blocks{
  min-height: 100px;
  background-color: $bg-secund;
  padding-top: 30px;
  padding-bottom: 30px;
  .info__block{
    padding: 20px;
  }
  .people__box{
    grid-column: 1/13;
    display: flex;
    align-items: center;
    img{
      max-width: 50px;
      height: auto;
    }
    .people__name{
      margin-left: 20px;
    }
  }
  .button__box{
    grid-column: 1/13;
    .btn-item{
      max-width: 150px;
      background-color: $base-color;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      padding: 12px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      box-shadow: none;
      display: flex;
      align-items: center;
      transition: all 1s;
      &:hover{
        background-color: lighten($base-color, 20)
      }
    }
  }
  .contain{
  }
  @media screen and (min-width: 1200px){
    .people__box{
      grid-column: 1/4;
    }
    .button__box{
      display: flex;
      justify-content: flex-end;
      grid-column: 10/13;
    }
    .contain{
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}