.home__carousel_title{
  padding: 20px;
}
.home__carousel {
  width: 100%;
  overflow-x: scroll;
  box-sizing: border-box;

  .items__box {
    overflow-x: scroll;
    padding-right: 15px;
    min-width: 960px;
    display: flex;
    justify-content: space-between;
  }
}
