/* variables */
$base-color: #4c33c3;
$bg-secund: #f2f2f2;
@import "components/home-header";
@import "components/box-image";
@import "components/home-carousel";
@import "components/grey-blocks";


/* reset */
html,body,#root{
  height: 100%;
  font-size: 10px;
}
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  height: 100%;
}
li{
  list-style-type: none;
}

.home{
  height: 100%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px){
  html,body,#root{
    font-size: 13px;
  }
}

